body {
  width: 90%;
  margin: 1rem auto;
  font-family: "Press Start 2P", cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  justify-content: center;
  width: 750px;
  max-width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
  top: 20%;
  left: 25%;
}

.modal-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

.modal-body {
  display: flex;
  justify-content: center;
}

#help-diagram {
  width: 700px;
}

.on-screen {
  display: block;
  animation: appear 0.1s ease;
}

.off-screen {
  display: none;
  animation: disappear 0.1s ease;
}

.flash {
  animation: appear 0.1s;
}

#screen-splash {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 8rem;
  margin: 1rem 0;
}

#start-screen {
  text-align: center;
}
#name-container {
  display: flex;
}

.namebox {
  width: 250px;
}

.player-input {
  margin: 1rem;
}

#playermode-container {
  width: 400px;
}

.playermode {
  width: 350px;
  height: 40px;
  margin: 3px;
  border: 1px solid #4d6b53;
  color: #4d6b53;
  background-color: #e9efea;
}

.player-select {
  background-color: #e9ffe5;
  color: #39ff14;
  border: 3px solid #39ff14;
}

#btn-help {
  color: rgb(85, 85, 85);
}

#game-screen {
  padding-top: 1rem;
}

#player1HUD {
  margin-right: 10rem;
}

#player2HUD {
  margin-left: 10rem;
}

#game-board {
  position: relative;
  margin: 0 auto;
  width: 700px;
}

#pre-countdown {
  position: relative;
  text-align: center;
  font-size: 10rem;
  justify-content: center;
}

#game-tiles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
}

#warm-up {
  bottom: 0;
  margin-top: -450px;
}

#game-over {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#report {
  text-align: center;
  background-color: lightblue;
  width: 600px;
  height: 480px;
  border-radius: 3em;
  padding: 5%;
  margin: 5rem;
}

#report-title {
  font-size: 1.5rem;
}

#p1-report {
  color: mediumblue;
  margin: 2rem;
}

#p2-report {
  color: mediumvioletred;
  margin: 2rem;
}

#time-display {
  font-size: 1.7rem;
}

.hurry {
  color: red;
}

#score-container {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

#input-playername {
  margin: 1rem 0;
  text-align: center;
}

.difficulty {
  margin: 1rem;
  width: 150px;
  color: #4f5b66;
  border: #4f5b66 1px solid;
  background-color: #c0c5ce;
}

button:hover {
  transform: scale(1.1);
  transition: ease;
}

.pushed {
  color: #005b96;
  border: #005b96 1px solid;
  background-color: lightblue;
}

#btn-play {
  margin: 1rem;
  width: 400px;
  height: 50px;
}

#play-again {
  text-align: center;
  width: 600px;
  height: 50px;
}

.tile {
  width: 160px;
  height: 160px;
  margin: 15px;
  background-color: lightgray;
  border: 1px solid gray;
  animation: disappear 0.17s ease;
}

h1 {
  text-align: center;
}

.up {
  background-color: greenyellow;
  animation: appear 0.17s ease;
}

/* .hit {
  background-color: lightpink;
  animation: hammered 0.15s ease;
} */

.p1-hit {
  background-color: mediumblue;
  animation: hammered 0.17s ease;
}

.p2-hit {
  background-color: mediumvioletred;
  animation: hammered 0.17s ease;
}

@keyframes appear {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1.05);
  }

  10% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(1.05);
  }
}

@keyframes hammered {
  50% {
    transform: scaleY(0.6);
  }
  60% {
    transform: scaleY(0.8);
  }
}
