body {
  width: 90%;
  margin: 3rem auto;
  font-family: "Press Start 2P", cursive;
}

.on-screen {
  display: block;
  transition: ease;
}

.off-screen {
  display: none;
  transition: ease;
}

#screen-splash {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 10rem;
  margin: 1rem 0;
}

#start-screen {
  text-align: center;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 10% auto;
  width: 700px;
}

#game-over {
  padding: 10%;
}
#report {
  text-align: center;
  background-color: lightblue;
  width: 600px;
  height: 300px;
  border-radius: 3em;
  padding: 5%;
  margin-bottom: 5rem;
}

#timer-container {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
}

#score-container {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

#input-playername {
  margin: 1rem 0;
  text-align: center;
}

.mode {
  margin: 1rem;
  width: 150px;
  color: #4f5b66;
  border: #4f5b66 1px solid;
  background-color: #c0c5ce;
}

button:hover {
  transform: scale(1.1);
  transition: ease;
}

.pushed {
  color: #005b96;
  border: #005b96 1px solid;
  background-color: lightblue;
}

#btn-play {
  margin: 1rem;
  width: 400px;
  height: 50px;
}

#play-again {
  text-align: center;
  width: 600px;
  height: 50px;
}

.tile {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid gray;
}

h1 {
  text-align: center;
}

.up {
  background-color: greenyellow;
  animation: peek 0.3s ease;
}

.hit {
  background-color: lightpink;
}

@keyframes peek {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes retreat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}
