body {
  width: 90%;
  margin: 0 auto;
  font-family: "Press Start 2P", cursive;
}

.on-screen {
  display: block;
  transition: ease;
}

.off-screen {
  display: none;
  transition: ease;
}

#screen-splash {
  height: 500px;
}

#start-screen {
  text-align: center;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 10% auto;
  width: 700px;
}

#game-over {
  padding: 10%;
}
#report {
  text-align: center;
  background-color: lightblue;
  width: 600px;
  height: 300px;
  border-radius: 3em;
  padding: 5%;
  margin-bottom: 5rem;
}
#play-again {
  text-align: center;
  width: 600px;
  height: 50px;
}

.pushed {
  color: cadetblue;
}

#timer-container {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
}

#score-container {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

.tile {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid gray;
}

h1 {
  text-align: center;
}

.up {
  background-color: greenyellow;
}

.hit {
  background-color: lightpink;
}
